$primary-color: #3da4b5;
$black-color: #000000de;;

html, body {
	overflow-y: auto;
}

.no-underline, .no-undeline a {
	text-decoration: none;
}

.scrollbar-primary {
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $primary-color;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: grey;
	}
}

#home-page .v-parallax .v-parallax__content {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ) !important;
	.v-text-field__prefix {
		color: $primary-color;
		font-size: 1.5em;
		text-shadow: 0 1px 2px $primary-color;
	}
	.my-input-code input[type="text"] {
		max-width: 60% !important;
		font-size: 1.2em;
	}
}
