$primary-color: #3da4b5;
$black-color: #000000de;

html, body {
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.first-letter-uppercase {
	text-transform: lowercase;
	&::first-letter {
		text-transform: uppercase !important;
	};
};

.no-underline, .no-undeline a {
	text-decoration: none;
}

// Card hover 
.no-shadow.card-hover:hover {
	background-color: #efefef;
	.v-list {
		background-color: #efefef;
	}
}

.custom-list .v-list__tile .v-list__tile__action {
	min-width: 35px !important;
}

.bg-grey {
	background-color: #efefef !important;
}

.no-shadow {
	border-bottom: .5px solid rgb(224, 224, 224) !important;
	box-shadow: none;
}

.card-wrapper {
	margin: .1px 0 !important;
	border: .5px solid rgb(224, 224, 224);
	box-shadow: none;
	overflow-x: hidden;
}

.hover-pointer:hover {
	cursor: pointer;
};

.word-break {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: inherit;
}

.w-100 {
	width: 100%;
}

.list-scroll {
	max-height: 75vh;
	height: 75vh;
	overflow-y: auto;
	box-shadow: 0 3px 10px rgba(0,0,0,.1) !important;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.scrollbar-primary {
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $primary-color;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: grey;
	}
}

#home-page .v-parallax .v-parallax__content {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ) !important;
	.v-text-field__prefix {
		color: $primary-color;
		font-size: 1.5em;
		text-shadow: 0 1px 2px $primary-color;
	}
	.my-input-code input[type="text"] {
		max-width: 55% !important;
		font-size: 1.2em;
		text-transform: uppercase;
	}
}
#admin-question {
	.v-input--switch label {
		font-size: 14px !important;
	}
}
