$primary-color: #3da4b5;
$black-color: #000000de;

html, body {
	overflow-y: auto;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.no-underline, .no-undeline a {
	text-decoration: none;
}

.no-shadow {
	border-bottom: .5px solid rgb(224, 224, 224) !important;
	box-shadow: none;
}

.word-break {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: inherit;
}

.w-100 {
	width: 100%;
}

.scrollbar-primary {
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: $primary-color;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: grey;
	}
}

#home-page .v-parallax .v-parallax__content {
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ) !important;
	.v-text-field__prefix {
		color: $primary-color;
		font-size: 1.5em;
		text-shadow: 0 1px 2px $primary-color;
	}
	.my-input-code input[type="text"] {
		max-width: 55% !important;
		font-size: 1.2em;
		text-transform: uppercase;
	}
}
#admin-question {
	.v-input--switch label {
		font-size: 14px !important;
	}
}
