$primary-color: #3da4b5;
$success-color: #4caf50;

.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot {
	border: 2px solid rgba(0, 0, 0, .2);
	&:hover {
		border: 2px solid rgba(0, 0, 0, .3);
	}
}

.v-textarea-override {
	&.no-shadow {
		.v-input__slot {
			box-shadow: none !important;
		}
	}
	.v-textarea.v-text-field--solo {
		.v-input__slot {
			margin-bottom: 0;
		}
		textarea {
			margin-top: 0 !important;
			padding: 0 12px 0 0 !important;
		}
		.v-text-field__details {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
}

i.v-icon.loading-success.material-icons.theme--light {
    color: $success-color !important;
}

.v-toolbar--fixed, .v-toolbar--extended, .v-toolbar__extension {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2) !important;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2) !important;
	box-shadow: 0 1px 4px rgba(0,0,0,.2) !important;
	background-color: #fff;
}
@media only screen and (max-width: 960px) {
	.v-toolbar__content {
		height: 48px !important;
	}
	.v-toolbar__extension {
		height: 40px !important;
		.v-tabs__container {
			height: 40px;
		}
	}
}

.v-toobar-override {
	.v-content {
		margin: 5px 0 !important;
	}
	.v-content,
	.v-toolbar__content,
	.v-toolbar__extension  {
		padding: 0 17% !important;
	}
	@media only screen and (max-width: 1280px) {
		.v-content,
		.v-toolbar__content,
		.v-toolbar__extension  {
			padding: 0 10% !important;
		}
	}
	@media only screen and (max-width: 960px) {
		.v-content,
		.v-toolbar__content,
		.v-toolbar__extension  {
			padding: 0 10px !important;
		}
		.v-tabs__container.v-tabs__container--right {
			height: 40px !important;
		}
	}
}
