.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot {
	border: 2px solid rgba(0, 0, 0, .2);
	&:hover {
		border: 2px solid rgba(0, 0, 0, .3);
	}
}

.v-toolbar__extension {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	background-color: #fff;
}
@media only screen and (max-width: 960px) {
	.v-toolbar__content {
		height: 48px !important;
	}
	.v-toolbar__extension {
		height: 40px !important;
		.v-tabs__container {
			height: 40px;
		}
	}
}